# Node modules
/node_modules/

# Logs
*.log
logs/

# Environment variables
.env

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
/dist/
/build/

# Coverage directory used by tools like istanbul
/coverage/

# IDE or editor configurations
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Misc
*.swp
